* {
  margin: 0;
  padding: 0;
}
nav{
  background: gray;
  align-content: center;
  height: 3em;
  display: grid;
  position: sticky;
  top: 0;
  z-index:1;
}
ul {
  list-style: none;
  display: grid;
  grid-template-columns: 9fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.myname {
  padding-left: 4em;
  justify-self: start;
}
.Photo{
  width: 2em;
  fill: rgb(195, 193, 193);
}
button {
  background: transparent;
  border: none;
  color: white;
}
li > button > a:link {
  text-decoration: none;
  color: rgb(179, 175, 175);
}
li > button > a:visited {
  color: rgb(179, 175, 175);
}

.container {
  display: flex;
  background: black;
  padding: 7% 12%;
  gap: 8%;
}
.Intro {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.h1 {
  width: 13%;
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}
.hr {
  width: 37%;
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  display: grid;
  align-items: end;
  margin-top: 15px;
}
.para1 {
  grid-column: 1 / 7;
  grid-row: 2 / 5;
  display: grid;
  align-items: center;
  font-size: 0.8em;
}
.h2 {
  grid-column: 1 / 3;
  grid-row: 5 / 7;
  font-size: 0.8em;
}
.p2 {
  grid-column: 1 / 4;
  grid-row: 5 / 7;
  font-size: 0.7em;
  align-items: center;
  display: grid;
  padding-right: 19%;
}
.h3 {
  grid-column: 4 / 7;
  grid-row: 5 / 7;
  font-size: 0.8em;
}
.p3 {
  grid-column: 4 / 7;
  grid-row: 5 / 7;
  font-size: 0.7em;
  align-items: center;
  display: grid;
  padding-right: 19%;
}